@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/montserrat_regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/montserrat_bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/source_sans/source_sans_regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open_sans/open_sans_regular.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open_sans/open_sans_italic.ttf") format("truetype");
  font-style: italic;
}