.all_page {
    .title {
        width: 100%;
        height: 357px;
        img {
            width: 100%;
            height: 357px;
            object-fit: cover;
            position: absolute;
        }
        .text {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            h2 {
                color: #FFF;
                text-align: center;
                font-family: 'Noto Sans';
                font-size: 45px;
                line-height: 58px;
                font-weight: normal;
                max-width: 480px;
                width: 100%;
            }
        }
    }
    .email_us {
        max-width: 680px;
        width: 100%;
        margin: 60px auto ;
        padding-left: 20px;
        padding-right: 20px;
        h2 {
            color: #FFF;
            font-family: "Noto Sans";
            font-size: 45px;
            line-height: 58px;
            font-weight: normal;
            margin-bottom: 30px;
        }
        .form_item {
            width: 100%;
            margin-bottom: 25px;
            h3{
                font-family: "Noto Sans";
                color: #FFF;
                font-size: 18px;
                font-weight: normal;
                margin-bottom: 10px;
            }
            input {
                width: 100%;
                border: 1px solid #262626;
                background: #3c4147;
                color: #dcdcdc;
                font-family: "Noto Sans";
                font-size: 20px;
                height: 52px;
                padding: 10px 15px;
                border-radius: 5px;
                &.error {
                    border: 1px solid red;
                }
            }
            textarea {
                width: 100%;
                background: #3c4147;
                border: 1px solid #262626;
                color: #FFF;
                font-family: "Noto Sans";
                font-size: 20px;
                padding: 10px 15px;
                resize: unset;
                &.error {
                    border: 1px solid red;
                }
            }
            p {
                color: red;
                font-family: "Noto Sans";
                margin-top: 5px;
            }
        }
        button {
            height: 35px;
            width: 110px;
            text-transform: uppercase;
            background-color: #00afff;
            border-radius: 34px;
            color: #FFF;
            font-family: "Noto Sans";
            border: unset;
            margin: 0 auto;
            display: block;
        }
    }
}

@media (max-width: 690px) {
    .all_page {
        .email_us {
            max-width: 420px; 
        }
    }
}

@media (max-width: 515px) {
    .all_page {
        .title {
            .text {
                h2 {
                    font-size: 35px;
                }
            }
        }
    }
}

@media (max-width: 690px) {
    .all_page {
        .email_us {
            max-width: 320px; 
        }
    }
}

@media (max-width: 400px) {
    .all_page {
        .title {
            .text {
                h2 {
                    font-size: 29px;
                }
            }
        }
    }
}
