@font-face {
    font-family: "Open Sans";
    src: url("fonts/open_sans/open_sans-bold.ttf") format("truetype");
  }
@font-face {
    font-family: "Roboto";
    src: url("fonts/roboto/roboto_black.ttf") format("truetype");
  }
@font-face {
    font-family: "Raleway";
    src: url("fonts/raleway/raleway_regular.ttf") format("truetype");
    font-weight: 400;
  } 
@font-face {
    font-family: "Raleway";
    src: url("fonts/raleway/raleway_medium.ttf") format("truetype");
    font-weight: 500;
  }  