ul {
    margin-top: 50px;
    margin-left: 30px;
}
li {
    margin-bottom: 15px;
}
li:last-child {
    margin-bottom: 0;
}
a {
    font-size: 25px;
    color: dimgray;
}
a:hover {
    font-size: 27px;
    color:teal;
}