@import "reset-css";
@font-face {
    font-family: 'Open Sans';
    src: url("./fonts/OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
  }
@font-face {
    font-family: 'Open Sans';
    src: url("./fonts/OpenSans-Medium.ttf") format("truetype");
    font-weight: 500;
  }
@font-face {
    font-family: 'Open Sans';
    src: url("./fonts/OpenSans-Bold.ttf") format("truetype");
    font-weight: 700;
  }
@font-face {
    font-family: 'Noto Sans';
    src: url("./fonts/NotoSans-Regular.ttf") format("truetype");
  }

* {
    box-sizing: border-box;
}
body {
    background-color: #000;
}
h1 {
    color: aliceblue;
}