@charset "UTF-8";
/***
    The new CSS reset - version 1.8.5 (last updated 14.6.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" attribute is exclud, because otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element */
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

.book_now_second .container .spain, .book_now_first .container .spain {
  background: rgba(35, 35, 35, 0.9);
  max-width: 648px;
  width: 100%;
  height: 344px;
  padding: 44px 32px;
  margin-left: 10px;
  margin-right: 10px;
}

.book_now_second .container .spain h2, .book_now_first .container .spain h2 {
  color: #FFF;
  font-family: "Josefin Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 2px;
  margin-bottom: 16px;
}

.book_now_second .container .spain h3, .book_now_first .container .spain h3 {
  color: #FFF;
  font-family: "Josefin Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.book_now_second .container .spain p, .book_now_first .container .spain p {
  color: #FFF;
  font-family: "Josefin Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 1.6px;
  margin-bottom: 24px;
}

.book_now_second .container .spain button, .book_now_first .container .spain button {
  width: 213px;
  height: 60px;
  background: #5373FD;
  color: #FFF;
  text-align: center;
  font-family: "Aleo";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.12px;
  text-transform: uppercase;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/josefin_sans/josefin_sans_light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/josefin_sans/josefin_sans_regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/josefin_sans/josefin_sans_bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Aleo";
  src: url("../fonts/aleo/aleo_regular.ttf") format("truetype");
}
:root {
  --color-1: white;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.first_section {
  background-image: url(../img/header_background.png);
  width: 100%;
  height: 862px;
}
.first_section .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first_section .container h1 {
  color: #FFF;
  font-family: "Josefin Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.first_section .container h2 {
  color: #FFF;
  font-family: "Josefin Sans";
  font-size: 22px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 6.82px;
  margin-bottom: 48px;
}
.first_section .container form {
  position: relative;
  max-width: 647px;
  width: 100%;
  height: 60px;
  margin-bottom: 211px;
}
.first_section .container form input {
  width: 100%;
  height: 100%;
  background: #FFF;
  padding: 20px 5px 20px 36px;
  font-family: "Josefin Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2.8px;
}
.first_section .container form input::placeholder {
  color: #999;
  font-family: "Josefin Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2.8px;
}
.first_section .container form input:focus {
  border: 3px solid #5373FD;
}
.first_section .container form button {
  position: absolute;
  top: 4px;
  right: 5px;
  width: 139px;
  height: 52px;
  background: #5373FD;
  padding: 16px 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.first_section .container form button svg {
  width: 16px;
  height: 16px;
}
.first_section .container form button p {
  color: #FFF;
  font-family: "Aleo";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  display: inline;
  margin-bottom: 4px;
}
.first_section .container p {
  color: #FFF;
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2.8px;
}
.first_section .container a svg {
  width: 14px;
  height: 16px;
}

header {
  background: #5373FD;
  height: 84px;
  width: 100%;
}
header .head {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .head a {
  color: #FFF;
  font-family: "Josefin Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
header .head nav {
  max-width: 575px;
  width: 100%;
}
header .head nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .head nav ul li a {
  color: #FFF;
  font-family: "Aleo";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
header .head nav ul li a:hover {
  color: #323131;
}
header .head .burger {
  display: none;
  width: 40px;
  height: 80px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
header .head .burger span {
  background-color: #FFF;
  width: 100%;
  height: 4px;
}

.why {
  background-image: url(../img/why_background.png);
  width: 100%;
  height: 704px;
}
.why .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.why .container .content {
  max-width: 648px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.why .container .content h2 {
  color: #FFF;
  font-family: "Aleo";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: capitalize;
  margin-bottom: 24px;
}
.why .container .content p {
  color: #FFF;
  font-family: "Josefin Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 1.6px;
}
.why .container .content p:last-of-type {
  margin-top: 22px;
}
.why .container .content button {
  width: 213px;
  height: 60px;
  background: #5373FD;
  color: #FFF;
  text-align: center;
  font-family: "Aleo";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.12px;
  text-transform: uppercase;
  margin-top: 32px;
}
.why .container .photo {
  position: relative;
  max-width: 424px;
  width: 100%;
  height: 456px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.why .container .photo img {
  max-width: 350px;
  width: 100%;
  height: 220px;
}
.why .container .photo img:last-of-type {
  position: absolute;
  right: 0;
  bottom: 0;
}

.steps {
  background-color: #333;
  padding-bottom: 60px;
}
.steps .container .lines {
  width: 100%;
  display: flex;
  justify-content: center;
}
.steps .container .lines svg {
  position: relative;
  top: 65px;
  max-width: 872px;
  width: 100%;
}
.steps .container .items {
  width: 100%;
  display: flex;
  gap: 25px;
}
.steps .container .items .item {
  max-width: 424px;
  width: 100%;
  height: 139px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.steps .container .items .item svg {
  width: 64px;
  height: 64px;
  margin-bottom: 20px;
}
.steps .container .items .item h3 {
  color: #FFF;
  text-align: center;
  font-family: "Aleo";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: capitalize;
}

.book_now_first {
  background: url(../img/book_now_first_background.png);
  width: 100%;
  height: 684px;
}
.book_now_first .container {
  height: 100%;
  position: relative;
}
.book_now_first .container .spain {
  position: absolute;
  bottom: 120px;
  left: 0;
}
.book_now_second {
  background: url(../img/book_now_second_background.png);
  width: 100%;
  height: 684px;
}
.book_now_second .container {
  height: 100%;
  position: relative;
}
.book_now_second .container .spain {
  position: absolute;
  bottom: 120px;
  right: 0;
}
.tourist {
  background: url(../img/tourist_bg.png);
  width: 100%;
  height: 680px;
}
.tourist .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tourist .container h2 {
  color: #FFF;
  text-align: center;
  font-family: "Aleo";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: capitalize;
  margin-bottom: 60px;
}
.tourist .container .quote {
  width: 100%;
  display: flex;
}
.tourist .container .quote img {
  max-width: 440px;
  width: 100%;
  height: 280px;
  object-fit: cover;
}
.tourist .container .quote .text {
  max-width: 885px;
  width: 100%;
  height: 280px;
  background: #333;
  padding: 48px 65px 48px 60px;
}
.tourist .container .quote .text h3 {
  color: #FFF;
  font-family: "Josefin Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.tourist .container .quote .text p {
  color: #FFF;
  font-family: "Josefin Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 1.6px;
}
.tourist .container .quote .text p::before {
  content: url(../img/quote-left.png);
  margin-right: 10px;
}

footer {
  width: 100%;
  height: 268px;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer a {
  color: #FFF;
  font-family: "Josefin Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
footer p {
  color: #FFF;
  font-family: "Josefin Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2.8px;
  margin-bottom: 20px;
}
footer .social {
  width: 275px;
  display: flex;
  justify-content: space-between;
}
footer .social svg:hover {
  --color-1: #5373FD;
}
footer .social .fb {
  width: 20px;
  height: 32px;
}
footer .social .tw {
  width: 32px;
  height: 32px;
}
footer .social .link {
  width: 28px;
  height: 32px;
}
footer .social .ytb {
  width: 36px;
  height: 32px;
}
footer .social .pinterest {
  width: 31px;
  height: 32px;
}

@media (max-width: 1120px) {
  .tourist {
    height: 550px;
  }
  .tourist .container .quote img {
    width: 300px;
    height: auto;
  }
  .tourist .container .quote .text {
    padding: 28px 35px 28px 30px;
  }
  .tourist .container .quote .text h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .tourist .container .quote .text p {
    font-size: 14px;
  }
  .tourist .container .quote .text p::before {
    margin-right: 5px;
  }
}
@media (max-width: 900px) {
  .steps .container .lines svg {
    max-width: 440px;
  }
}
@media (max-width: 795px) {
  .tourist {
    height: 650px;
  }
  .tourist .container h2 {
    margin-bottom: 20px;
  }
  .tourist .container .quote {
    flex-direction: column;
    align-items: center;
  }
  .tourist .container .quote img {
    width: 440px;
    height: auto;
  }
  .tourist .container .quote .text {
    max-width: 440px;
    width: 100%;
    padding: 10px 15px;
  }
}
@media (max-width: 768px) {
  .first_section {
    height: 460px;
  }
  .first_section .container form {
    margin-bottom: 70px;
  }
  header .head nav {
    display: none;
  }
  header .head .burger {
    display: flex;
  }
  header.active {
    height: 160px;
  }
  header.active .head nav {
    max-width: unset;
    width: auto;
    display: initial;
  }
  header.active .head nav ul {
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }
  header.active .head .burger span {
    background-color: #999;
  }
}
@media (max-width: 720px) {
  .why {
    height: 675px;
  }
  .why .container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .why .container .content {
    margin-top: 10px;
  }
  .why .container .content h2 {
    font-size: 26px;
    margin-bottom: 14px;
  }
  .why .container .content p {
    font-size: 12px;
  }
  .why .container .content p:last-of-type {
    margin-top: 10px;
  }
  .why .container .content button {
    width: 130px;
    height: 40px;
    font-size: 10px;
    margin-top: 16px;
  }
  .why .container .photo {
    height: 340px;
  }
  .why .container .photo img {
    max-width: 250px;
    height: auto;
  }
  .steps {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .steps .container .lines {
    display: none;
  }
  .steps .container .items {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 670px) {
  .book_now_first {
    height: 504px;
  }
  .book_now_first .container .spain {
    bottom: 60px;
    max-width: 300px;
    height: 384px;
    padding: 22px 16px;
  }
  .book_now_second {
    height: 504px;
  }
  .book_now_second .container .spain {
    bottom: 60px;
    max-width: 300px;
    height: 384px;
    padding: 22px 16px;
  }
}
@media (max-width: 470px) {
  .first_section .container form {
    max-width: 300px;
    height: 50px;
  }
  .first_section .container form input {
    padding-left: 5px;
    font-size: 9px;
  }
  .first_section .container form input::placeholder {
    font-size: 9px;
  }
  .first_section .container form button {
    width: 95px;
    height: 42px;
    padding: 0 4px;
    gap: 5px;
    right: 2px;
  }
  .first_section .container form button p {
    font-size: 12px;
  }
  .tourist {
    height: 750px;
  }
  .tourist .container .quote img {
    width: 300px;
  }
  .tourist .container .quote .text {
    max-width: 300px;
    height: 385px;
  }
}
@media (max-width: 360px) {
  header .head a {
    font-size: 18px;
  }
  header .head nav ul li a {
    font-size: 12px;
  }
  .steps .container .items .item h3 {
    font-size: 30px;
  }
}